<div id="login-container" class="login-wrapper">   
  <div class="row">
    <div class="small-12 columns"><h3>Signup</h3></div>
  </div>

  <%= form_for @customer, url: users_path, html: {autocomplete: :off} do |form| %>
    <% if @customer.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @customer.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div><!--.error_messages-->
    <% end %>
  <div class="row">
    <div class="small-8 columns">
      <%= form.label :email, class: "small-3 columns"%>
      <%= form.text_field(:email, class: "small-9 columns") %>
    </div>
  </div>
    <div class="row">
      <div class="small-8 columns">
        <%= form.label :password, class: "small-3 columns"%>
        <%= form.text_field(:password, class: "small-9 columns") %>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <%= form.label :password_confirmation, class: "small-3 columns"%>
        <%= form.text_field(:password_confirmation, class: "small-9 columns") %>
      </div>
    </div>
    <div class="row">  
      <div class="small-12 columns">     
        <div><%= form.submit "Register", :class => "button" %></div>
      </div>
    </div>
  <% end %>
</div>